/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.env
/_ide_helper.php
.phpunit.result.cache
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/win-ov-int/v16/.suo
