.form-control{
  border-bottom-left-radius: 60px !important;
  border-top-left-radius: 60px !important;
}
.input-group-addon {
  border-bottom-right-radius: 60px !important;
  border-top-right-radius: 60px !important;
}
